D:\DATA\eclipse_workspace\SokobanSolver3>java -cp bin Solver level.txt
level.txt
 #####
 #   ####
 #      #
### **# #
#  #* *@#
#   * ###
#  ##  #
##     #
 #.$#  #
 #  ####
 ####
ROWS: 11
COLS: 9
alle vakken niet op een eindvakpad:
#########
##XXX####
##X    X#
###X  #X#
#XX#   X#
#X    ###
#X ## X##
##    X##
##  #XX##
##XX#####
#########
2 oplossingEilanden met groottes: 12 21
4 topConfiguraties:
configuratie:
#########
##   ####
##  S   #
### BB# #
#  #B B #
#   B ###
#  ##  ##
##     ##
##B #  ##
##  #####
#########
configuratie:
#########
##   ####
##      #
### BB# #
#  #BSB #
#   B ###
#  ##  ##
##     ##
##B #  ##
##  #####
#########
configuratie:
#########
##   ####
##      #
### BB# #
#  #B B #
#   B ###
#  ##  ##
##S    ##
##B #  ##
##  #####
#########
configuratie:
#########
##   ####
##      #
### BB# #
#  #B B #
#  SB ###
#  ##  ##
##     ##
##B #  ##
##  #####
#########
WortelDiepte: 0
TopDiepte: 0
wortelAantalConfiguratiesVoorHuidigeDiepte: 1
topAantalConfiguratiesVoorHuidigeDiepte: 4
wortelAantalConfiguratiesVoorHuidigeDiepte: 1
WortelDiepte: 1
TopDiepte: 0
wortelAantalConfiguratiesVoorHuidigeDiepte: 2
topAantalConfiguratiesVoorHuidigeDiepte: 4
wortelAantalConfiguratiesVoorHuidigeDiepte: 2
WortelDiepte: 2
TopDiepte: 0
wortelAantalConfiguratiesVoorHuidigeDiepte: 2
topAantalConfiguratiesVoorHuidigeDiepte: 4
wortelAantalConfiguratiesVoorHuidigeDiepte: 2
WortelDiepte: 3
TopDiepte: 0
wortelAantalConfiguratiesVoorHuidigeDiepte: 3
topAantalConfiguratiesVoorHuidigeDiepte: 4
wortelAantalConfiguratiesVoorHuidigeDiepte: 3
WortelDiepte: 4
TopDiepte: 0
wortelAantalConfiguratiesVoorHuidigeDiepte: 7
topAantalConfiguratiesVoorHuidigeDiepte: 4
topAantalConfiguratiesVoorHuidigeDiepte: 4
WortelDiepte: 4
TopDiepte: 1
wortelAantalConfiguratiesVoorHuidigeDiepte: 7
topAantalConfiguratiesVoorHuidigeDiepte: 4
topAantalConfiguratiesVoorHuidigeDiepte: 4
WortelDiepte: 4
TopDiepte: 2
wortelAantalConfiguratiesVoorHuidigeDiepte: 7
topAantalConfiguratiesVoorHuidigeDiepte: 11
wortelAantalConfiguratiesVoorHuidigeDiepte: 7
WortelDiepte: 5
TopDiepte: 2
wortelAantalConfiguratiesVoorHuidigeDiepte: 13
topAantalConfiguratiesVoorHuidigeDiepte: 11
topAantalConfiguratiesVoorHuidigeDiepte: 11
WortelDiepte: 5
TopDiepte: 3
wortelAantalConfiguratiesVoorHuidigeDiepte: 13
topAantalConfiguratiesVoorHuidigeDiepte: 21
wortelAantalConfiguratiesVoorHuidigeDiepte: 13
WortelDiepte: 6
TopDiepte: 3
wortelAantalConfiguratiesVoorHuidigeDiepte: 26
topAantalConfiguratiesVoorHuidigeDiepte: 21
topAantalConfiguratiesVoorHuidigeDiepte: 21
WortelDiepte: 6
TopDiepte: 4
wortelAantalConfiguratiesVoorHuidigeDiepte: 26
topAantalConfiguratiesVoorHuidigeDiepte: 29
wortelAantalConfiguratiesVoorHuidigeDiepte: 26
WortelDiepte: 7
TopDiepte: 4
wortelAantalConfiguratiesVoorHuidigeDiepte: 48
topAantalConfiguratiesVoorHuidigeDiepte: 29
topAantalConfiguratiesVoorHuidigeDiepte: 29
WortelDiepte: 7
TopDiepte: 5
wortelAantalConfiguratiesVoorHuidigeDiepte: 48
topAantalConfiguratiesVoorHuidigeDiepte: 37
topAantalConfiguratiesVoorHuidigeDiepte: 37
WortelDiepte: 7
TopDiepte: 6
wortelAantalConfiguratiesVoorHuidigeDiepte: 48
topAantalConfiguratiesVoorHuidigeDiepte: 48
topAantalConfiguratiesVoorHuidigeDiepte: 48
WortelDiepte: 7
TopDiepte: 7
wortelAantalConfiguratiesVoorHuidigeDiepte: 48
topAantalConfiguratiesVoorHuidigeDiepte: 57
wortelAantalConfiguratiesVoorHuidigeDiepte: 48
WortelDiepte: 8
TopDiepte: 7
wortelAantalConfiguratiesVoorHuidigeDiepte: 82
topAantalConfiguratiesVoorHuidigeDiepte: 57
topAantalConfiguratiesVoorHuidigeDiepte: 57
WortelDiepte: 8
TopDiepte: 8
wortelAantalConfiguratiesVoorHuidigeDiepte: 82
topAantalConfiguratiesVoorHuidigeDiepte: 70
topAantalConfiguratiesVoorHuidigeDiepte: 70
WortelDiepte: 8
TopDiepte: 9
wortelAantalConfiguratiesVoorHuidigeDiepte: 82
topAantalConfiguratiesVoorHuidigeDiepte: 96
wortelAantalConfiguratiesVoorHuidigeDiepte: 82
WortelDiepte: 9
TopDiepte: 9
wortelAantalConfiguratiesVoorHuidigeDiepte: 135
topAantalConfiguratiesVoorHuidigeDiepte: 96
topAantalConfiguratiesVoorHuidigeDiepte: 96
WortelDiepte: 9
TopDiepte: 10
wortelAantalConfiguratiesVoorHuidigeDiepte: 135
topAantalConfiguratiesVoorHuidigeDiepte: 130
topAantalConfiguratiesVoorHuidigeDiepte: 130
WortelDiepte: 9
TopDiepte: 11
wortelAantalConfiguratiesVoorHuidigeDiepte: 135
topAantalConfiguratiesVoorHuidigeDiepte: 165
wortelAantalConfiguratiesVoorHuidigeDiepte: 135
WortelDiepte: 10
TopDiepte: 11
wortelAantalConfiguratiesVoorHuidigeDiepte: 218
topAantalConfiguratiesVoorHuidigeDiepte: 165
topAantalConfiguratiesVoorHuidigeDiepte: 165
WortelDiepte: 10
TopDiepte: 12
wortelAantalConfiguratiesVoorHuidigeDiepte: 218
topAantalConfiguratiesVoorHuidigeDiepte: 191
topAantalConfiguratiesVoorHuidigeDiepte: 191
WortelDiepte: 10
TopDiepte: 13
wortelAantalConfiguratiesVoorHuidigeDiepte: 218
topAantalConfiguratiesVoorHuidigeDiepte: 213
topAantalConfiguratiesVoorHuidigeDiepte: 213
WortelDiepte: 10
TopDiepte: 14
wortelAantalConfiguratiesVoorHuidigeDiepte: 218
topAantalConfiguratiesVoorHuidigeDiepte: 234
wortelAantalConfiguratiesVoorHuidigeDiepte: 218
WortelDiepte: 11
TopDiepte: 14
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 234
topAantalConfiguratiesVoorHuidigeDiepte: 234
WortelDiepte: 11
TopDiepte: 15
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 242
topAantalConfiguratiesVoorHuidigeDiepte: 242
WortelDiepte: 11
TopDiepte: 16
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 226
topAantalConfiguratiesVoorHuidigeDiepte: 226
WortelDiepte: 11
TopDiepte: 17
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 188
topAantalConfiguratiesVoorHuidigeDiepte: 188
WortelDiepte: 11
TopDiepte: 18
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 138
topAantalConfiguratiesVoorHuidigeDiepte: 138
WortelDiepte: 11
TopDiepte: 19
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 86
topAantalConfiguratiesVoorHuidigeDiepte: 86
WortelDiepte: 11
TopDiepte: 20
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 53
topAantalConfiguratiesVoorHuidigeDiepte: 53
WortelDiepte: 11
TopDiepte: 21
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 59
topAantalConfiguratiesVoorHuidigeDiepte: 59
WortelDiepte: 11
TopDiepte: 22
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 117
topAantalConfiguratiesVoorHuidigeDiepte: 117
WortelDiepte: 11
TopDiepte: 23
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 243
topAantalConfiguratiesVoorHuidigeDiepte: 243
WortelDiepte: 11
TopDiepte: 24
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
topAantalConfiguratiesVoorHuidigeDiepte: 409
wortelAantalConfiguratiesVoorHuidigeDiepte: 357
WortelDiepte: 12
TopDiepte: 24
wortelAantalConfiguratiesVoorHuidigeDiepte: 582
topAantalConfiguratiesVoorHuidigeDiepte: 409
topAantalConfiguratiesVoorHuidigeDiepte: 409
WortelDiepte: 12
TopDiepte: 25
wortelAantalConfiguratiesVoorHuidigeDiepte: 582
topAantalConfiguratiesVoorHuidigeDiepte: 561
topAantalConfiguratiesVoorHuidigeDiepte: 561
WortelDiepte: 12
TopDiepte: 26
wortelAantalConfiguratiesVoorHuidigeDiepte: 582
topAantalConfiguratiesVoorHuidigeDiepte: 697
wortelAantalConfiguratiesVoorHuidigeDiepte: 582
WortelDiepte: 13
TopDiepte: 26
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 697
topAantalConfiguratiesVoorHuidigeDiepte: 697
WortelDiepte: 13
TopDiepte: 27
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 806
topAantalConfiguratiesVoorHuidigeDiepte: 806
WortelDiepte: 13
TopDiepte: 28
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 870
topAantalConfiguratiesVoorHuidigeDiepte: 870
WortelDiepte: 13
TopDiepte: 29
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 878
topAantalConfiguratiesVoorHuidigeDiepte: 878
WortelDiepte: 13
TopDiepte: 30
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 803
topAantalConfiguratiesVoorHuidigeDiepte: 803
WortelDiepte: 13
TopDiepte: 31
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 644
topAantalConfiguratiesVoorHuidigeDiepte: 644
WortelDiepte: 13
TopDiepte: 32
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 436
topAantalConfiguratiesVoorHuidigeDiepte: 436
WortelDiepte: 13
TopDiepte: 33
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 270
topAantalConfiguratiesVoorHuidigeDiepte: 270
WortelDiepte: 13
TopDiepte: 34
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 212
topAantalConfiguratiesVoorHuidigeDiepte: 212
WortelDiepte: 13
TopDiepte: 35
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 218
topAantalConfiguratiesVoorHuidigeDiepte: 218
WortelDiepte: 13
TopDiepte: 36
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 249
topAantalConfiguratiesVoorHuidigeDiepte: 249
WortelDiepte: 13
TopDiepte: 37
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 292
topAantalConfiguratiesVoorHuidigeDiepte: 292
WortelDiepte: 13
TopDiepte: 38
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 333
topAantalConfiguratiesVoorHuidigeDiepte: 333
WortelDiepte: 13
TopDiepte: 39
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 375
topAantalConfiguratiesVoorHuidigeDiepte: 375
WortelDiepte: 13
TopDiepte: 40
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 423
topAantalConfiguratiesVoorHuidigeDiepte: 423
WortelDiepte: 13
TopDiepte: 41
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 501
topAantalConfiguratiesVoorHuidigeDiepte: 501
WortelDiepte: 13
TopDiepte: 42
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 628
topAantalConfiguratiesVoorHuidigeDiepte: 628
WortelDiepte: 13
TopDiepte: 43
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 835
topAantalConfiguratiesVoorHuidigeDiepte: 835
WortelDiepte: 13
TopDiepte: 44
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
topAantalConfiguratiesVoorHuidigeDiepte: 1123
wortelAantalConfiguratiesVoorHuidigeDiepte: 923
WortelDiepte: 14
TopDiepte: 44
wortelAantalConfiguratiesVoorHuidigeDiepte: 1401
topAantalConfiguratiesVoorHuidigeDiepte: 1123
topAantalConfiguratiesVoorHuidigeDiepte: 1123
WortelDiepte: 14
TopDiepte: 45
wortelAantalConfiguratiesVoorHuidigeDiepte: 1401
topAantalConfiguratiesVoorHuidigeDiepte: 1433
wortelAantalConfiguratiesVoorHuidigeDiepte: 1401
WortelDiepte: 15
TopDiepte: 45
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1433
topAantalConfiguratiesVoorHuidigeDiepte: 1433
WortelDiepte: 15
TopDiepte: 46
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1697
topAantalConfiguratiesVoorHuidigeDiepte: 1697
WortelDiepte: 15
TopDiepte: 47
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1852
topAantalConfiguratiesVoorHuidigeDiepte: 1852
WortelDiepte: 15
TopDiepte: 48
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1896
topAantalConfiguratiesVoorHuidigeDiepte: 1896
WortelDiepte: 15
TopDiepte: 49
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1819
topAantalConfiguratiesVoorHuidigeDiepte: 1819
WortelDiepte: 15
TopDiepte: 50
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1649
topAantalConfiguratiesVoorHuidigeDiepte: 1649
WortelDiepte: 15
TopDiepte: 51
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1470
topAantalConfiguratiesVoorHuidigeDiepte: 1470
WortelDiepte: 15
TopDiepte: 52
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1333
topAantalConfiguratiesVoorHuidigeDiepte: 1333
WortelDiepte: 15
TopDiepte: 53
wortelAantalConfiguratiesVoorHuidigeDiepte: 2011
topAantalConfiguratiesVoorHuidigeDiepte: 1170
topAantalConfiguratiesVoorHuidigeDiepte: 1170
DIEPTE: 16
topAantalConfiguratiesVoorHuidigeDiepte: 563
OPLOSSING !!!
Tijd: 832 ms
uullddddullrruuulldrduurrrddllddrddluuuddlllddruluuluurdrruuluurdrrrddlludddrddluuulllddrrlluurrrurruulldululldrdrdrdllruuluurddduurrrddlludrruullddddrddluuuddllluluurdrruruulduulldrurdrddddrddluuuudddlllulurr
zoekboom diepte: 16
zoekboom wortel historiek aantal_keys: 102
zoekboom wortel historiek grootte: 2149
zoekboom wortel historiek loops: 1651
zoekboom wortel aantalVierkanten: 114
zoekboom wortel aantal bladconfiguraties: 2011
zoekboom top historiek aantal_keys: 172
zoekboom top historiek grootte: 15154
zoekboom top historiek loops: 12784
zoekboom top aantal bladconfiguraties: 1145

D:\DATA\eclipse_workspace\SokobanSolver3>